/* .excerpt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.excerpt, .card-text{
    margin-bottom: 20px;
    width: 100%;
} */

.buton{
    position: absolute;
    bottom: 2px;
}


  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-registrasi input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  





