/* .excerpt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.excerpt, .card-text{
    margin-bottom: 20px;
    width: 100%;
} */

.buton{
    position: absolute;
    bottom: 2px;
}





